*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

#faixa{
    width: 100%;
}

#logo-sit{
    display: flex;
    margin: auto;
    margin-top: -50%;
    width: 470px;
}

#titulo{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 150px;
    padding: 10px;
    font-size: 18px;
}

main{
    margin: 5% 5% 5% 20%;
}

.botao-dash{
    margin-top: 30px;
    margin-left: 10px;
    width: 200px;
    border: none;
    padding: 20px;
    background-color: #47a4c1;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.botao-dash a{
    color: white;
    text-decoration: none;
}

.botao-dash:hover{
    transition: 0.5s;
    background-color:  #07c4fd;
    font-size: 12px;
}

#botao-add{
    width: 50px;
    height: 30px;
    border: none;
    background-color: #47a4c1;
    border-radius: 10px;
    position: relative;
    bottom: 280px;
    margin-left: 50px;

}

#botao-add a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

#botao-add:hover{
    cursor: pointer;
    background-color: #07c4fd;
    transition: 0.5s;
}

