<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIT - SECRETARIA DE INOVAÇÃO E TECNOLOGIA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <link rel="stylesheet" href="css/relatorios.css">

    <header>
        <img src="img/faixa.png" alt="faixa colorida" id="faixa">
        <img src="img/logo-sit.png" alt="logo Barueri" id="logo-sit">
    </header>

    <section id="titulo">
        <h1>Central de Relatórios</h1>
    </section>


    <main>
        <section id="relatorios_1">
            <button><a href="">Relatório Power BI</a></a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            
        </section>

        <section id="relatorios_2">
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            
        </section>

        <section id="relatorios_3">
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            <button><a href="">Relatório Power BI</a></button>
            
        </section>
    </main>


    
    
</body>
</html>